{{#if posts.length}}
<section>
    <h1>Your Posts</h1>
    {{#each posts }}
    <div class="post-info">
        <h2>{{ title }}</h2>
    </div>
    {{/each}}

</section>
{{/if}}

<button type="submit" class="btn"><a class="link" href="/dashboard/new">+ New Post</a></button>

{{!-- <script src="/js/create.js"></script> --}}