<div class="container">
    <h1>POSTS</h1>
    <div class="post-info">
        {{#each posts as |post| }}
        {{> post-info post}}


    </div>
    {{/each}}
    {{User.username}} {{format_date createdAt}}
</div>