body {
    background-color: rgb(53, 46, 47);
    color: lightseagreen;
}

.post-info {
    border: 1px solid black;
    padding: 8px 0px 8px 20px;
    /*top right bottom left*/
    margin: 8px 0px 8px 0px;
    background-color: black;
}

nav {
    background-color: slategray;
    height: 75px;
    margin-bottom: 75px;
    line-height: 75px;
    text-decoration: none;
}

a {
    color: black;
    font-size: x-large;
    background-color: lightseagreen;
    text-decoration: none;
}

.login {
    margin-left: 20px;
    text-decoration: none;
}

.home {
    margin-left: 20px;
    text-decoration: none;
}

.card {
background-color:black;
}

h1 {
    color:snow ;
}

#new-form-button {
color: black;
background-color: lightseagreen;
}

.home {
    color: black;
}

.logout {
    color: black;
}

.signup {
    color: black;
}

.login {
    color: black;
}